.exerciseur input[type=number], .exerciseur input[type=text] { 
    -moz-appearance: textfield;
    appearance: textfield;
    height: 50px;
    width: 150px;
    margin: 4px;
    text-align: center;
    font-size: 14pt;
}
    
.exerciseur input::-webkit-inner-spin-button,
.exerciseur input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin:0;
}

.exerciseur input::-o-inner-spin-button,
.exerciseur input::-o-outer-spin-button { 
    -o-appearance: none;
    margin:0;
}

input[type=button], input[type=submit] {
    height: 50px;
}

#reload {
    width: 50px;
    clear: both;
    font-size: 24pt;
}

span.math{
    font-size: 30pt;
    white-space: nowrap;
}

span.aDroite{
    float: right;
}

div.correction{
    text-align: center;
    margin-top: 20px;
    color: blue;
}

div.soustractions {
    margin: auto;
    width: 300px;
    text-align: left;
}

table.division {
    display: inline;
    border: none;
    margin: 20px;
}

table.division td {
    border: none;
    width: auto;
    padding: 10px;
}

table.division td.borderRight {
    border-right: 1px solid black;
}

table.division td.borderBottom {
    border-bottom: 1px solid black;
}

.exerciseur p.left {
    width: 100%;
    text-align: left;
    padding-left: 50px;
}
